body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #c1cdcd;
}

.body {
    height: 1020px;
}

#calendario {
	background: #FFF;
	height: 50%;
	width: 40%;
	margin-left: 100px;
	margin-top: 50px; 
}

.dia {
	background: #f5f5f5;
	font: 12px verdana;				  
	text-align: center;
	height: 1%;
	width: 3%;
}

.mydropdown {
    margin-left: 20px;
    width: 40px;
}

.mydropdown:hover {
    background: #ddd;
}

#actual_day center {
    background: #3399ff;
}

.box {
	background: blue;
	margin-left: 60%;
	margin-top: -500px;
	width: 20%;
	height: 40%;
}

.box .header_box h3{
	text-align: center;
    color: #FFF;
}

.menu .menu_body {
  height: 400px;
  background-color: #FFF;
  overflow-y: scroll;
}

#horario {
    display: none;
}

#opcoes {
    display: none;
}

#preenchimento {
    display: none;
    height: 100%;
}

#preenchimento .mycontainer .edit_name {

}

.celula {
    height: 100px;
    border: groove;
    width: 100%;
}

.celula:hover {
    background: #ddd;
}

.escolha {
    position: relative;
    top: 36px;
    width: 100%;
    text-align: center;
}

.menu .menu_list {
    height: 100%;
}

.menu #menubtn {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    display: none;
}

button:hover {
    opacity: 0.8;
}

/* Full-width input fields */
input[type=text], input[type=password],
input[type=time], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.mycontainer {
    height: 100%;
    width: 100%;
}

.select {
    width: 150%;
}

.select:hover {
    background: #ddd;
}

#select_left {
    float: left;
    padding-left: 20%;
}

#select_right {
    float: right;
    padding-right: 20%;
}

@media screen and (max-width: 800px) {
  #calendario {
    width: 60%;
    height: 40%;
    margin-left: 10%;
    margin-top: 0px;
  }
}

@media screen and (max-width: 1000px) {
    .box {
        margin-top: 10px;
        margin-left: 10%;
        width: 80%;
    }
}