.selection{
	overflow: hidden;
	margin-left: 230px;
    padding-left: 20px;
}

.produto_block{
	display: inline-block;
	border-style: solid;
	border-radius: 3px;
	border-color: black;
	border-width: 0.5px;
	margin: 20px;
}

.produto_img{
	width: 170px;
	height: 180px;
}

.produto_nome, .produto_preco{
	width: 180px;
	text-align: center;
	max-width: 180px;
	max-height: 40px;
}

.produto_preco{
	font-size: 22px;
}