.produto{
	position: fixed;
	top: 20%;
	margin: 0;
	width: 200px;
	/*background-color: dodgerblue;*/
	text-align: center;
	/*list-style-image: */
}

.info{
	/*overflow: hidden;*/
	margin-left: 270px;
    padding-left: 20px;
	border-left: 2px solid;
	height:550px;
}