body{
	margin:0;
}

.topnav{
	overflow: hidden;
	/*background-color: royalblue;*/
	background-color: #1b6db0;
}

.topnav a{
	float: left;
	color: white;
	/*display: block;*/
	font-size: 16px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover{
	/*color: blue;*/
	background-color: dodgerblue;
}

/*Botão Login/Register*/
.login_button{
	cursor: pointer;
	float: right; 
	font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.topnav a:hover, .login_button {
	background-color: dodgerblue;
}